/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Ajuste la taille selon tes besoins */
    height: 100px; /* Garde les proportions */
    border-radius: 70%; /* Optionnel : transforme en cercle */
    display: block; /* Évite les marges automatiques */
    
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: left;
    
  }



  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  .img{
    display: flex;
    justify-content: center;
    gap:10px;
    
  }




  .btn-panier {
    display: inline-block; 
    background-color: #0eb0f0; /* Couleur de fond violette */
    color: #ffffff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Arrondit les coins */
    padding: 10px 20px; /* Ajoute de l'espace intérieur */
    font-size: 16px; /* Taille du texte */
    text-align: center; /* Centre le texte à l'intérieur */
    cursor: pointer; /* Change le curseur au survol */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Ajoute une transition pour les effets */
  }
  
  .btn-panier:hover {
    background-color: #7517e8; 
    transform: scale(1.05); 
  }



  a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
  }

.logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  
}  




